@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/add.css")">
<div class="container" id="content">
    <!--<div class="dropzone"></div>-->

</div>

<!--<script src="@Url.Content("~/Scripts/dropzone.min.js")"></script>
<script type="text/javascript">
      $(".dropzone").dropzone({
        url: 'upload.php'
      })
      $(".dropzone").hover(function(){
        $(".dropzone").css("color", "#676a6d");
        $(".dropzone").css("background-color", "rgba(0,0,0, 0.06)");
        $(".dropzone").css("border", "5px groove rgba(0,0,0,0.05)");
        },function(){
          $(".dropzone").css("color", "#919aa1");
         $(".dropzone").css("background-color", "rgba(0,0,0, 0.01)");
          $(".dropzone").css("border", "5px dashed rgba(0,0,0,0.05)");
       }
      );
</script>-->

